@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Inter&family=Roboto&display=swap");
*{ 
  box-sizing: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #093931; /* Ajusta este color al de tu imagen */
  width: 100vw;
  height: 3.875rem;
  flex-shrink: 0;
}

.logo {
  color: #F5D38E;
  font-family: Cormorant Garamond;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.875rem;
  text-align: left;
  margin-left: 8.25rem;
}
.navbar {
  display: flex;
  justify-content: flex-start; /* Alinea los elementos hacia la izquierda */
  color: #F2C66D;
  font-family: Manrope;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.375rem;
  text-align: left;
  margin-left: auto;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 30px;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  position: relative;
  font-family: Manrope;
  margin: 0rem 2.33rem;
}

.nav-link:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #F2C66D;
  transition: width 0.3s;
}

.nav-link:hover::after {
  width: 100%;
  left: 0;
  background-color:  #F2C66D;
  ;
}

.icon-container {
  display: flex;
  align-items: center; 
  justify-content: space-around; 
  color: white;
  margin-right: 6.75rem;
}

.icon {
  width: 1.25rem; 
  height:1.25rem; 
  filter: invert(99%) sepia(3%) saturate(2%) hue-rotate(96deg) brightness(106%)
    contrast(97%); 
  margin: 0rem 1.5rem; 
}

.icon:hover {
  opacity: 0.7; 
}

@media screen and (max-width:952px){
  .nav-link {
    font-size: 0.8rem;
    line-height: 20px;
    margin: 0rem 1.5rem;
  }
  .logo {
    font-size: 1.5em;
    line-height: 40px;
    margin-left: 5rem;
    margin-right: 2rem;
  }
  .icon-container {
    margin-right: 5rem;
  }
  .icon {
    width: 1.2rem; 
    height:1.2rem; 
    margin: 0rem 1.25rem; 
  }
}

@media screen and (max-width:730px){
  .nav-link {
    font-size: 0.75rem;
    line-height: 18px;
    margin: 0rem 1rem;
  }
  .logo {
    font-size: 1.3em;
    line-height: 35px;
    margin-left: 3rem;
    margin-right: 2rem;
  }
  .icon-container {
    margin-right: 3rem;
  }
  .icon {
    width: 1rem; 
    height:1rem; 
    margin: 0rem 1rem; 
  }
}

.container_seccion_principal{
    background: #093931;
    background-image: url(./assets/fondoVectores.png);
    width: 100vw;
    height: 51.3125rem;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
}

.seccion_principal{
  width: 50%;
  height: 33.9375rem;
  margin:4.81rem 18.25rem 8.69rem 4.5rem;
}
.seccion_principal >p{
    padding-top: 5.81rem;
    width: 33.5625rem;
    color: #F5D38E;
    font-family: Cormorant Garamond;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130.556%;
}
.button_shop{
    margin-top: 1.5rem;
    /* padding: 0.75rem 3.6875rem; */
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Manrope;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 155.556%;
    border-radius: 1.625rem;
    border: 1px solid #FFF;
    background: rgba(0, 0, 0, 0.00);
    width: 12.5rem;
    height: 3.25rem;
}

.imagen_principal{
    border-radius: 0.5rem;
    position: absolute;
    background: url(./assets/seccionppalimg1.png), lightgray 0px -33px / 100% 112.339% no-repeat;
    width: 25.4375rem;
    height: 33.9375rem;
    flex-shrink: 0;    
}

.img_video{
    position: relative;
    top: 6.94rem;
    right:9.25rem;
    bottom: 6.94rem;
    left: 19.37rem;
    width: 15.0625rem;
    height: 20.0625rem;
    flex-shrink: 0;
    border-radius: 7.5625rem 7.5625rem 0rem 0rem;
    /* background: url(./assets/Image_video.png), lightgray 0px -19px / 100% 112.15% no-repeat; */
    box-shadow: 0px 8px 17px 0px rgba(23, 26, 31, 0.15),0px 0px 2px 0px rgba(23, 26, 31, 0.12);
    background-image: url(./assets/Image_video.png);
    /* border-radius: 121px 121px 0px 0px;
    box-shadow: 0px 8px 17px 0px rgba(23, 26, 31, 0.15), 0px 0px 2px 0px rgba(23, 26, 31, 0.12); */
}

.boton_play{
    display: flex;
    width: 3.25rem;
    height: 3.25rem;
    padding: 0.65625rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 50%;
    border: 1px solid #EFFDFA;
    background: rgba(0, 0, 0, 0.00);
    position:relative;
    top: 8.44rem;
    bottom: 8.37rem;
    left: 5.94rem;
    right: 5.88rem;
}


@media screen and (max-width: 768px) {
    main >div{
       flex-direction: column;
    }
}


.conteiner_servicios{
    margin-top: 1.5rem;
    background: #FFF;
    width: 100%vmax;
    height: 14.5rem;
    display: flex;
    justify-content:space-between;
}

.servicio{
    text-align: center;
    margin:2.25rem 7.94rem;
    width: 33.3%;
    height: 14.5rem;
}

.servicio >h3{
    color: #171A1F;
    height: 1.75rem;
    text-align: center;
    font-family: Cormorant Garamond;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 155.556% ;
}

.servicio > svg {
    width: 3.875rem;
    height: 3.875rem;
    margin-bottom: 1.12rem;
    flex-shrink: 0;
}

.servicio >p {
    color: #9095A0;
    text-align: center;
    font-family: Manrope;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 162.5% ;
}

@media screen and (max-width: 1162px) {
    .servicio{
        margin:2.25rem 5rem;
    }
    .servicio >h3{
        font-size: 1.1rem;
        line-height: 110% ;
        margin-bottom: 1.1rem;
    }
}
@media screen and (max-width: 665px) {
    .servicio{
        margin:2.25rem 3.5rem;
    }
    .servicio >h3{
        font-size: 1rem;
        line-height: 110% ;
        margin-bottom: 1rem;
    }
}